<div class="container">
  <div class="row align-items-start">

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/stockmarket logo.png" alt="logo"  class="logo d-inline-block align-text-top">
          <span class="navbar-brand mb-0 h1">stock-exchange</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Search Stock</a>
            </li>
            <li class="nav-item">
              <app-add-company-model></app-add-company-model>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Stock</a>
            </li>          
          </ul>
        </div>
      </div>
    </nav>
    <!-- <div class="col">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../assets/stockmarket logo.png" alt="logo"  class="logo d-inline-block align-text-top">
            <span class="navbar-brand mb-0 h1">stock-exchange</span>
          </a>
        </div>
    </div> -->
    <!-- <div class="col">
      <button type="button" class="btn btn-outline-primary">Add company</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-outline-primary">Add stock</button>
    </div> -->
  </div>
  <div class="row align-items-center">
    <div class="col">
     List All company dropdown
    </div>
    <div class="col">
      comapny_Code label
    </div>
    <div class="col">
      Search button
    </div>
  </div>
  <div class="row align-items-end">
    <div class="col">
      create grid-COmponent 
      </div>
  </div>
</div>