

  <div class="modal-header">
  <fa-icon [icon]="faBusinessTime"  class="m-2" ></fa-icon>
    <h4 class="modal-title">Add Stock</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="modal-body row g-3 form-group">

      <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">

        <div class="row align-items-center d-flex">
          <div class="col-6 p-2">
              <select class="custom-select" formControlName="companyCode">
                  <option selected value="">Choose company</option>
                  <option *ngFor="let company of companies" [ngValue]="company.code">
                      {{ company.name }}
                  </option>
              </select>
              <div *ngIf="stockForm.controls['companyCode']?.status =='INVALID'"
              class="invalid-feedback">
              <div *ngIf="stockForm.controls['companyCode']?.errors?.['required']">company required</div>
            </div>
          </div>
          <div class="d-flex justify-content-end col-6 p-2" role="search">
            <label> Company Code </label>
              <input type="text" class=" mx-2 col-9" placeholder="Company Code" disabled
                  [value]="stockForm.controls['companyCode']?.value">            
          </div>
          <div class="col-12 p-2">
            <label for="priceForm">Stock price</label>
            <input id="priceForm" type="number" formControlName="stockPrice" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && stockForm.controls['stockPrice'].invalid}" />
            <div *ngIf="submitted && stockForm.controls['stockPrice'].invalid "
              class="invalid-feedback">
              <div *ngIf="stockForm.controls['stockPrice']?.errors?.['required']">price of the stock is required</div>
            </div>
          </div>
      
          <div class="form-group col-12 p-2">
            <label for="priceForm">Stock Date</label>
              <input type="text" class="form-control"
              [value] ="displayDateTime"  disabled/>
          </div>
          <div class="form-group row my-3 ">
          <button type="submit" class="btn btn-primary mx-auto col-12 ">Register</button>
      </div>
       
        </div>
      </form>
      <p>Form value: {{ stockForm.value | json }}</p>
      <p>Form status: {{ stockForm.status | json }}</p>
    
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
  </div>
