/* .custom-select  {
    padding:20px;
    height: 150px;
} */


.stock-grid{
    min-height: 100%;
    margin-bottom: -4em;     /*Negates #push on longer pages*/
}

.badge{
    width: 100%;
}

 .grid-cell-centered {
    text-align: center;
  }

